/*
 * Avventura Lite notice css file
 * https://www.themeinprogress.com
 *
 * Copyright 2019, ThemeinProgress
 * Licensed under MIT license
 * https://opensource.org/licenses/mit-license.php
 */

.avventura_lite-notice {
	width:100;
	display:block;
	border-color:#ec7063;
	padding:25px
}

.avventura_lite-notice .dismiss-notice {
	margin-top:5px;
	font-size:12px;
}

.avventura_lite-notice .avventura_lite-noticedescription {
	float:left;
	font-size:14px;
	max-width: 60%;
}

.avventura_lite-notice .button {
	background: #ec7063;
	border:solid 2px #ec7063;
	color:#fff !important;
	padding: 8px 16px;
	height:auto;
	line-height:normal;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	float:right;
	text-transform:uppercase;
	font-weight:bold
}

.avventura_lite-notice .button:hover ,
.avventura_lite-notice .button:active ,
.avventura_lite-notice .button:focus {
	border-color: #e74c3c;
	background-color:#e74c3c;
}

@media screen and (max-width: 782px) {

	.avventura_lite-notice {
		margin-top: 15px !important;
	}

	.avventura_lite-notice .avventura_lite-noticedescription {
		float:none;
		text-align:center;
	}

	.avventura_lite-notice .button {
		float: none;
		margin: 10px 0 0 0;
		width: 100%;
		text-align: center;	
	}

}