/*
 * Avventura Lite template css file
 * https://www.themeinprogress.com
 *
 * Copyright 2019, ThemeinProgress
 * Licensed under MIT license
 * https://opensource.org/licenses/mit-license.php
 */

/* ===============================================
   MAIN
   =============================================== */
   
html { 
	height:100%;
	min-height:100%;
}

body { 
	background-color:#f3f3f3;
	min-height:100%;
	height:100%;
    font-family: 'Merriweather',Verdana, Geneva, sans-serif;
}

body.no-scrolling {
    overflow: hidden;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl { 
	margin:0.8em 0 0.3em;
}
   
ul,
ol { 
	margin:10px 0 10px 15px;
	padding-left:0;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1.title a,
h2.title a,
h3.title a,
h4.title a,
h5.title a,
h6.title a { 
	font-family:'Playfair Display',Verdana, Geneva, sans-serif; 
	line-height:1.6em;
	font-size:inherit
} 

h1.title span,
h2.title span,
h3.title span,
h4.title span,
h5.title span,
h6.title span { 
	box-shadow: inset 0 -0.5em 0 0 rgba(255,102,68, .1);
}

#footer h1.title span,
#footer h2.title span,
#footer h3.title span,
#footer h4.title span,
#footer h5.title span,
#footer h6.title span, 
.post-container.page h1.title span,
.post-container.page h2.title span,
.post-container.page h3.title span,
.post-container.page h4.title span,
.post-container.page h5.title span,
.post-container.page h6.title span { 
	box-shadow: none;
}

h1 ,
h1.title a ,
h1.title span {
	font-size: 24px;
}

h2 ,
h2.title a ,
h2.title span {
	font-size: 22px;
}

h3 ,
h3.title a ,
h3.title span {
	font-size: 20px;
}

h4 ,
h4.title a ,
h4.title span {
	font-size: 18px;
}

h5 ,
h5.title a ,
h5.title span {
	font-size: 16px;
}

h6 ,
h6.title a ,
h6.title span {
	font-size: 14px;
}

.title a span { 
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

input, 
button, 
select, 
textarea {
	max-width: 100%;
}

select {
	width: 100%;
	height: 50px;
    padding: 8px 10px;
    background: #fff;
    color: #333;
    border-color: #ddd;
}

code {
	display:block;
	white-space:normal !important;
}

button:hover ,
button:active ,
button:focus ,
input:hover ,
input:active ,
input:focus ,
textarea:hover ,
textarea:active ,
textarea:focus {
	outline:none !important;
	text-decoration:none !important;
}

::selection {
	background: #ff6644;
	color:#fff; 
}

::-moz-selection {
	background: #ff6644;
	color:#fff; 
}

a { 
	outline: none; 
	border:none;
	font-weight:normal; 
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color:#616161
}

a:hover ,
a:active ,
a:focus {
	color:#d14a2b;
	outline:none;
	text-decoration:none;
}

.clear { 
	clear:both;
}

.left {
	float:left;
}

.right {
	float:right;
}

.col-md-8.left-sidebar {
	float:right;
}

.col-md-8.right-sidebar {
	float:left;
}

.sticky {
}

.gallery-caption {
}

.bypostauthor {
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* ===============================================
   BUTTONS
   =============================================== */

.read-more { 
	display:block;
	margin:40px 0 0 0;
	text-align:center;
}

span.button,
.post-article span.button {
	background:none;
	border: solid 2px #ff6644;
	padding:8px 16px;
	color:#ff6644;
	text-align:center;
	position:relative;
	display:inline-block;
	-webkit-transition: color .3s ease, border-color .3s ease;
	-moz-transition: color .3s ease, border-color .3s ease; 
	-o-transition: color .3s ease, border-color .3s ease;
	transition: color .3s ease, border-color .3s ease;
}

span.button:hover ,
.post-article span.button:hover {
	background:none;
	border-color:#d14a2b;
	color:#d14a2b;
	text-decoration:none;
}

.post-article a span.nobutton {
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease; 
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

.post-article a span.nobutton:hover {
	color:#d14a2b;
}

/* ===============================================
   WRAPPER
   =============================================== */

#wrapper {
	position: relative;
	min-height:100%;
}

#wrapper iframe, 
#wrapper embed, 
#wrapper object, 
#wrapper video,
#wrapper img {
	max-width:100%;
	max-height:100%;
	height:auto;
}

/* ===============================================
   HEADER
   =============================================== */

#header-wrapper { 
	position:relative;
	z-index:1001;
	padding:0;
	background:#fff;
	margin-bottom:50px;
}

#header { 
	position:relative;
	text-align:left;
	padding:0;
	width:100%;
	top:0;
}

#header i {
	-webkit-transition: color .3s ease, transform .2s linear;
	-moz-transition: color .3s ease, transform .2s linear; 
	-o-transition: color .3s ease, transform .2s linear;
	transition: color .3s ease, transform .2s linear;
}

#logo-wrapper {
	padding:50px 0;
}

#menu-wrapper {
	border-top: solid 1px #f1f1f1;
}

#header.fixed ,
#menu-wrapper.fixed {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background:#fff;
	z-index:1001 
}

body.logged-in #header.fixed.fixed , 
body.logged-in #menu-wrapper.fixed { 
	top:32px;
}

body.woocommerce-demo-store #header.fixed.fixed , 
body.woocommerce-demo-store #menu-wrapper.fixed { 
	top:48px;
}

body.woocommerce-demo-store.logged-in #header.fixed.fixed , 
body.woocommerce-demo-store.logged-in #menu-wrapper.fixed { 
	top:80px;
}

body.is_customizer_panel.logged-in #header.fixed.fixed , 
body.is_customizer_panel.logged-in #menu-wrapper.fixed ,
body.is_customizer_panel.woocommerce-demo-store #header.fixed.fixed , 
body.is_customizer_panel.woocommerce-demo-store #menu-wrapper.fixed ,
body.is_customizer_panel.woocommerce-demo-store.logged-in #header.fixed.fixed , 
body.is_customizer_panel.woocommerce-demo-store.logged-in #menu-wrapper.fixed.fixed {
	top:0;
}

@media screen and (min-width : 0) and (max-width : 600px) {	
	
	body.logged-in #header.fixed.fixed , 
	body.logged-in #menu-wrapper.fixed,
	body.woocommerce-demo-store #header.fixed.fixed , 
	body.woocommerce-demo-store #menu-wrapper.fixed,
	body.woocommerce-demo-store.logged-in #header.fixed.fixed , 
	body.woocommerce-demo-store.logged-in #menu-wrapper.fixed { 
		top:0 !important;
	}

}

/* ===============================================
   HEADER LIGHT
   =============================================== */

#header-wrapper.light #header {
	background:#fff; 
	border-bottom: solid 1px #f1f1f1;
}

#header-wrapper.light #header i {
	color:#616161;
}

#header-wrapper.light #header .header-cart-widget {
	background:#fff; 
    border: solid 1px #f1f1f1;
    border-top: solid 1px #fff;
}

#header-wrapper.light #header .header-cart a.cart-contents { 
	color:#616161;
}

#header-wrapper.light #header .header-cart a.cart-contents:hover ,
#header-wrapper.light #header .header-cart a.cart-contents.active {
    background: #fff;
}

#header-wrapper.light #header .header-cart-widget { 
    background-color: #fff !important;
}

#header-wrapper.light #header .header-cart-widget p , 
#header-wrapper.light #header .header-cart-widget span, 
#header-wrapper.light #header .header-cart-widget li, 
#header-wrapper.light #header .header-cart-widget a ,
#header-wrapper.light #header .header-cart-widget a:hover { 
	color:#616161;
}

#header-wrapper.light #header .header-cart-widget .woocommerce a.remove {
    color: #616161 !important;
    background: #fff;
}

#header-wrapper.light #header .header-cart-widget .woocommerce a.remove:hover {
    color: red !important;
}

#header-wrapper.light #header .header-cart-widget .widget_shopping_cart li,
#header-wrapper.light #header .header-cart-widget .product_list_widget li {
    border-bottom: solid 1px #f1f1f1;
}

/* ===============================================
   HEADER DARK
   =============================================== */

#header-wrapper.dark #header {
	background:#212121; 
	border-bottom: solid 1px #444;
}

#header-wrapper.dark #header i {
	color:#fff;
}

#header-wrapper.dark #header .header-cart-widget {
	background:#212121; 
    border: solid 1px #444;
    border-top: solid 1px #212121;
}

#header-wrapper.dark #header .header-cart a.cart-contents { 
	color:#fff; 
}

#header-wrapper.dark #header .header-cart a.cart-contents:hover ,
#header-wrapper.dark #header .header-cart a.cart-contents.active {
    background: #262626;
}

#header-wrapper.dark #header .header-cart-widget { 
    background-color: #262626 !important;
}

#header-wrapper.dark #header .header-cart-widget p , 
#header-wrapper.dark #header .header-cart-widget span, 
#header-wrapper.dark #header .header-cart-widget li, 
#header-wrapper.dark #header .header-cart-widget a ,
#header-wrapper.dark #header .header-cart-widget a:hover { 
	color:#fff
}

#header-wrapper.dark #header .header-cart-widget .woocommerce a.remove {
    color: #fff !important;
    background: #212121;
}

#header-wrapper.dark #header .header-cart-widget .woocommerce a.remove:hover {
    color: red !important;
}

#header-wrapper.dark #header .header-cart-widget .widget_shopping_cart li,
#header-wrapper.dark #header .header-cart-widget .product_list_widget li {
    border-bottom: solid 1px #444;
}

#header-wrapper.dark #header .header-cart-widget .buttons a.button {
    border: solid 1px #fff ;
}

/* ===============================================
   HEADER SEARCH
   =============================================== */

.header-search i {
	font-size:14px;
	cursor:pointer;
}

.header-search {
	display:block;
	float:right;
    padding: 0;
    margin: 0;
	position:relative;
	line-height:53px;
	height:53px;
}

.header-search .search-form {
	position:fixed;
	top:0;
	right:0;
	width:0;
	height:100%;
	padding:0;
	z-index:1001;
	-webkit-transition-property: width, height, -webkit-transform;
    transition-property: width, height, transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	background: rgba(0,0,0, 0.98) none repeat;
	border:none !important;
}

.header-search .search-form.is-open {
	width:100%;
	height:100%;
}

.header-search .search-form #header-searchform input[type=text] {
	position:absolute;
	top:50%;
	width:90%;
	height:100px;
	line-height:100px;
	left:5%;
	border:none;
	font-style:italic;
	display:block;
	margin-top:-25px;
	font-size:50px;
	color:#ddd;
	text-align:center;
    background-color: transparent;
}

.header-search .search-form #header-searchform ::-webkit-input-placeholder {
	text-align:center;
	color:#ddd; 
	padding:0;
}

.header-search .search-form #header-searchform ::-moz-placeholder {
	text-align:center;
	color:#ddd; 
	padding:0;
}

.header-search .search-form #header-searchform :-ms-input-placeholder {
	text-align:center;
	color:#ddd; 
	padding:0;
}

.header-search .search-form #header-searchform :-moz-placeholder {
	text-align:center;
	color:#ddd; 
	padding:0;
}

.header-search .search-form i.searchform-close-button {
	position:absolute;
	font-size:25px;
	top:50px;
	width:26px;
	height:26px;
	line-height:26px;
	text-align:center;
	margin-left:-13px;
	left:50%;
	color:#ddd !important;
	opacity:0;
	-webkit-transition: transform .2s linear; 
	-moz-transition: transform .2s linear; 
	-o-transition: transform .2s linear; 
	transition: transform .2s linear; 
}

.header-search .search-form.is-open i.searchform-close-button {
	opacity:1;
}

.header-search .search-form.is-open i.searchform-close-button:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* ===============================================
   LOGO
   =============================================== */

#logo { 
	position:relative; 
	text-align:center;
	padding:0;
	word-break: break-all;
} 

#logo a { 
	font-family: 'Cinzel Decorative',Verdana, Geneva, sans-serif;
	font-size:70px; 
	color:#333; 
	text-decoration:none; 
	text-align:center;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	line-height:0.8em
} 

#logo a:hover { 
	text-decoration:none;
	color:#d14a2b;
	border-bottom:none;
}

#logo a span {
    font-family: 'Merriweather',Verdana, Geneva, sans-serif;
	font-size:14px; 
	display:block;
	text-align:center;
	margin:0;
	line-height:1.6em;
	margin-top:15px;
} 

/* ===============================================
   MAIN MENU
   =============================================== */

nav#mainmenu {
	display:block;
	position:relative;
	float:left;
	margin:0 auto;
	width:100%
}

nav#mainmenu ul { 
	list-style:none; 
	margin:0; 
	display:block;
	width:100%;
	border:none;
	text-align:center;
}

nav#mainmenu ul li {
	position:relative; 
	display:inline-block;
	text-align:left;
}

nav#mainmenu ul li a { 
	text-decoration:none; 
	display:block; 
	z-index:1; 
	padding:0 24px 0 0;
	margin:0 -5px 0 0;
	color: #616161;
	font-size:14px; 
	-webkit-transition: all .1s linear; 
	-moz-transition: all .1s linear; 
	-o-transition: all .1s linear; 
	position:relative;
	line-height:53px
}

nav#mainmenu ul li a:hover,
nav#mainmenu li:hover > a,
nav#mainmenu ul li.current-menu-item > a, 
nav#mainmenu ul li.current_page_item > a, 
nav#mainmenu ul li.current-menu-parent > a, 
nav#mainmenu ul li.current_page_ancestor > a, 
nav#mainmenu ul li.current-menu-ancestor > a { 
	color:#d14a2b;
}

nav#mainmenu ul ul { 
	display:none; 
	position: absolute; 
	top:52px; 
	left:0; 
	background:#fff;
	z-index:1000;
	width:100%;
	min-width:213px;
}

nav#mainmenu ul ul li { 
	position:relative; 
	margin:0;
	line-height:1.2em;
	text-transform:none;
	width:100%;
	min-width:213px;
	min-height: inherit;
	padding:0
}

nav#mainmenu ul ul li a { 
	text-decoration:none; 
	text-align:left; 
	display:block; 
	padding:14px 14px 0 14px;
	margin:0;
	border:none;
	color:#616161;
	line-height:inherit !important 
 }

nav#mainmenu ul ul li:last-of-type a { 
	padding:14px;
}

nav#mainmenu ul ul li ul { 
	top:0; 
	left:213px; 
}

nav#mainmenu ul ul li ul:before {
	display:none;
}

/* ===============================================
   SCROLL SIDEBAR
   =============================================== */
   
#sidebar-wrapper {
 	left: 0;
 	top: 0;
 	bottom: 0;
 	height: 100%;
 	position: fixed;
	z-index:999999;
}

body.logged-in #overlay-body,
body.logged-in .header-search .search-form,
body.logged-in #sidebar-wrapper #scroll-sidebar {
	top:32px;
}

body.is_customizer_panel.logged-in #overlay-body,
body.is_customizer_panel.logged-in .header-search .search-form,
body.is_customizer_panel.logged-in #sidebar-wrapper #scroll-sidebar {
	top:0;
}

#sidebar-wrapper #scroll-sidebar,
body.logged-in.customizer_active #sidebar-wrapper #scroll-sidebar {
	left:-300px; 
	width:300px;
	overflow:hidden;
	background:#2D3032; 
	position:fixed; 
	display:block; 
	height:100%;  
	padding:25px 0; 
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
	top:0;
}

body.overlay-active #wrapper {
	margin-right:8px;
}

body.overlay-active #header {
	padding-right:8px;
}

body.overlay-active #sidebar-wrapper #scroll-sidebar ,
body.logged-in.customizer_active.overlay-active #sidebar-wrapper #scroll-sidebar {
	left:0;
}

#sidebar-wrapper #scroll-sidebar .mobile-navigation {
	text-align: left;
    float: none;
    margin-left: 50px;
    padding: 0;
}

#sidebar-wrapper #scroll-sidebar .mobile-navigation i {
	color:#fff;
	-webkit-transition: transform .2s linear; 
	-moz-transition: transform .2s linear; 
	-o-transition: transform .2s linear; 
	transition: transform .2s linear; 
}

#sidebar-wrapper #scroll-sidebar .mobile-navigation i:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#overlay-body {
	position: fixed;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	visibility:hidden;
	display:none;
	opacity: 0.9;
	filter: alpha(opacity=90);
	cursor:pointer;
	overflow: hidden; 
	z-index:999998
}

#overlay-body.visible {
	visibility:visible;
	display:block;
}

@media screen and (min-width : 0) and (max-width : 600px) {	
	
	body.logged-in #overlay-body,
	body.logged-in .header-search .search-form,
	body.logged-in #sidebar-wrapper #scroll-sidebar {
		top:0 !important;
	}

}

@media screen and (min-width : 601px) and (max-width : 782px) {	

	body.logged-in #overlay-body,
	body.logged-in .header-search .search-form,
	body.logged-in #sidebar-wrapper #scroll-sidebar {
		top:46px !important;
	}

	body.is_customizer_panel.logged-in #overlay-body,
	body.is_customizer_panel.logged-in .header-search .search-form,
	body.is_customizer_panel.logged-in #sidebar-wrapper #scroll-sidebar {
		top:0 !important;
	}

}

/* ===============================================
   MOBILE MENU
   =============================================== */

.mobile-navigation {
	padding:14px 0;
	position:relative;
	cursor:pointer;
	float:left;
}

.mobile-menu-open i {
	color:#616161;
}

.mobilemenu-box {
	padding:0 50px 50px 50px;
	position:relative;
}

nav#mobilemenu {
	display:block ;
	position:relative;
	margin-top: 50px;
	padding:0; 
	width:100%;
}

nav#mobilemenu ul { 
	list-style:none; 
	margin:0; 
	display:block;
	width:100%;
	border:none;
	text-align:left;
}

nav#mobilemenu ul li {
	position:relative; 
	display:block;
	padding:0 !important;
	text-align:left;
}

nav#mobilemenu ul li:last-of-type {
	border-bottom:none;
}

nav#mobilemenu ul li:after {
	display:none;
	visibility:hidden;
}

nav#mobilemenu ul li a { 
	text-decoration:none; 
	display:block; 
	z-index:1; 
	padding:0 0 12px 0;
	font-size:16px; 
	-webkit-transition: all .1s linear; 
	-moz-transition: all .1s linear; 
	-o-transition: all .1s linear; 
	position:relative;
	cursor:pointer;
	line-height:1.8em;
	color:#fff;
}

nav#mobilemenu ul li a:hover,
nav#mobilemenu li:hover > a,
nav#mobilemenu ul li a:hover,
nav#mobilemenu li:hover > a,
nav#mobilemenu ul li.current-menu-item > a, 
nav#mobilemenu ul li.current_page_item > a, 
nav#mobilemenu ul li.current-menu-parent > a, 
nav#mobilemenu ul li.current_page_ancestor > a, 
nav#mobilemenu ul li.current-menu-ancestor > a { 
	color:#d14a2b;
}

nav#mobilemenu .sub-menu, 
nav#mobilemenu .children { 
	display:none; 
	margin:0 !important; 
	z-index:9999;
	padding:15px 0;
}

nav#mobilemenu li li a,
nav#mobilemenu li li li a { 
	text-decoration:none; 
	border-top:none;
	font-size:12px
}

nav#mobilemenu .sf-sub-indicator {
	right:10px;
	font-size: 14px;
	position:absolute;
	padding-left: 30px;
}

/* ===============================================
   SIDEBARS
   =============================================== */

#sidebar .sidebar-box {
	padding:0 25px;
}

.sidebar-area a,
.sidebar-area p,
.sidebar-area li,
.sidebar-area address,
.sidebar-area dd,
.sidebar-area blockquote,
.sidebar-area td,
.sidebar-area th,
.sidebar-area .textwidget { 
	line-height:1.9em;
	font-weight: normal;
}

.sidebar-area ul { 
	list-style:none;
	font-weight: normal;
	margin:0;
	padding:0;
}

.sidebar-area ul ul {
    margin: 15px 0;
}

.sidebar-area li li a {
    font-size: 12px;
}

.sidebar-area h4.title { 
	padding: 0;
	margin: 0 0 25px 0;
	position:relative;
	text-align:left
}

.sidebar-area select, 
.sidebar-area textarea,
.sidebar-area input[type="text"],
.sidebar-area input[type="password"],
.sidebar-area input[type="datetime"], 
.sidebar-area input[type="datetime-local"], 
.sidebar-area input[type="date"],
.sidebar-area input[type="month"],
.sidebar-area input[type="time"],
.sidebar-area input[type="week"],
.sidebar-area input[type="number"],
.sidebar-area input[type="email"],
.sidebar-area input[type="url"],
.sidebar-area input[type="search"],
.sidebar-area input[type="tel"],
.sidebar-area input[type="color"],
.sidebar-area .uneditable-input{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width:96%;
	padding: 5px 2%;
}

/* ===============================================
   SCROLLABLE SIDEBAR
   =============================================== */
   
#scroll-sidebar .mobilemenu-box {
	display:none;
	visibility:hidden;
}

#scroll-sidebar .post-article ,
#scroll-sidebar .mobilemenu-box {
	background:none;
	border-bottom:solid 1px #444
}

#scroll-sidebar .post-article:last-of-type {
	border-bottom:none
}

#scroll-sidebar p,
#scroll-sidebar a,
#scroll-sidebar span,
#scroll-sidebar .title,
#scroll-sidebar li,
#scroll-sidebar address,
#scroll-sidebar dd,
#scroll-sidebar blockquote,
#scroll-sidebar caption,
#scroll-sidebar td,
#scroll-sidebar th { 
	color:#fff;
}

#scroll-sidebar .title {
	margin-top:0;
}

#scroll-sidebar #searchform input[type=text],
#scroll-sidebar .woocommerce-product-search input[type=text]{
	width: 60%;
}

#scroll-sidebar #searchform input[type=submit],
#scroll-sidebar .woocommerce-product-search input[type=submit]{
	width: 35%;
}

/* ===============================================
   FOOTER
   =============================================== */

#footer { 
	color:#fff;	
	background:#212121;
	width:100%;
	position:absolute;
	bottom:0;
}

#footer .copyright {
	padding: 25px 0;
	text-align:center
}

#footer .copyright p {
	margin:0;
	line-height: 1.8em;
}

#footer_widgets {
	padding: 25px 0;
	color:#fff;	
	background:#262626;
	width:100%;
	position:relative;
}

#footer_widgets .sidebar-area h4.title { 
	margin: 0 0 25px 0;
	padding: 0;
}

#footer_widgets .textwidget { 
	line-height:1.8em;
}

#footer .copyright p,
#footer .copyright a,
#footer .copyright span,
#footer .copyright .title,
#footer .copyright li,
#footer .copyright address,
#footer .copyright dd,
#footer .copyright blockquote,
#footer .copyright td,
#footer .copyright th ,
#footer_widgets .sidebar-area,
#footer_widgets .sidebar-area .textwidget,
#footer_widgets .sidebar-area p,
#footer_widgets .sidebar-area a,
#footer_widgets .sidebar-area span,
#footer_widgets .sidebar-area .title,
#footer_widgets .sidebar-area li,
#footer_widgets .sidebar-area address,
#footer_widgets .sidebar-area dd,
#footer_widgets .sidebar-area blockquote,
#footer_widgets .sidebar-area td,
#footer_widgets .sidebar-area th { 
	color:#fff;
}

#footer li, 
#footer_widgets .sidebar-area li {
    padding: 0 0 10px 0;
    position: relative;
}

#bottom_sidebar li {
    padding: 0;
}

/* ===============================================
   BACK TO TOP
   =============================================== */

#back-to-top {
	position:fixed;
	bottom:15px;
	right:15px;
	display:none;
	z-index:1000
}

#back-to-top span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    font-size: 14px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    color: #fff;
    background: #444;
    display: inline-block;
}

#back-to-top span.open,
#back-to-top span:hover {
	cursor:pointer;
	background:#d14a2b;
	color:#fff;
}

/* ===============================================
   BORDERS
   =============================================== */

.woocommerce .woocommerce-error, 
.woocommerce .woocommerce-message, 
.woocommerce .woocommerce-info,
.woocommerce .woocommerce_cart_details,
.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals,
.product-content,
.no-padding,
.post-article, 
.product-thumbnail,
.embed-container,
.pin-container, 
.video-container,
.maps-container {
	position:relative;
	z-index:1000
}

.product-thumbnail,
.embed-container,
.pin-container, 
.video-container,
.maps-container {
	position:relative;
	z-index:999
}

/* ===============================================
   MARGINS
   =============================================== */

#top_sidebar {
	margin-top:-50px;
}

#sidebar,
#top_sidebar ,
#header_sidebar,
.post-container {
	margin-bottom:50px;
}

#blog,
#blog .post-container,
#blog #sidebar,
#top_sidebar .post-container,
#header_sidebar .post-container,
#masonry .post-container,
.row.masonry,
#sidebar .post-article,
.post-article.col-md-4,
.post-article.col-md-6 { 
	margin-bottom:25px;
}

#bottom_sidebar,
#bottom_sidebar .post-container,
#sidebar .post-container,
#sidebar .post-article:last-of-type ,
#top_sidebar .post-container:last-of-type,
#header_sidebar .post-container:last-of-type {
	margin-bottom:0;
}

body.scroll_header #top_sidebar {
	margin-top:-50px;
}

/* ===============================================
   PADDINGS
   =============================================== */

#sidebar .post-article {
	padding:45px;
}

#sidebar .post-article .widget-box {
	padding-bottom:45px;
}

.no-padding {
	padding:0;
	margin-bottom:25px;
}

.no-padding.post-container .post-article {
	padding:0;
}

.no-padding .title {
	display:none;
	visibility:hidden;
}

.no-padding.widget_avventura_lite_bio_widget .title {
	display:block;
	visibility:visible;
}

#bottom_sidebar .no-padding {
	margin-bottom:0;
}

/* ===============================================
   ARTICLES
   =============================================== */

.post-article { 
	position:relative;
	padding:50px;
	background:#fff;
	word-wrap: break-word;
}

.post-article .entry-date + p:first-letter {
	float:left;
	font-size:46px;
	line-height:46px; 
	margin:5px 10px 5px 0;
}

.post-article p, 
.post-article li, 
.post-article address, 
.post-article dd, 
.post-article blockquote, 
.post-article td, 
.post-article th,
.post-article span,
.sidebar-area a, 
.sidebar-area p, 
.sidebar-area li, 
.sidebar-area address, 
.sidebar-area dd, 
.sidebar-area blockquote, 
.sidebar-area td, 
.sidebar-area th,
.sidebar-area span,
.textwidget { 
	font-size:14px; 
	font-weight: normal;
	color:#616161;
	line-height:1.8em;
} 

.post-article a:hover,
.post-article a:active,
.post-article a:focus ,
.sidebar-area a:hover,
.sidebar-area a:active,
.sidebar-area a:focus ,
#footer a:hover,
#footer a:active,
#footer a:focus ,
#footer_widgets a:hover,
#footer_widgets a:active,
#footer_widgets a:focus {
	color:#d14a2b;
	outline:none;
	text-decoration:none;
}

.post-container .attachment p { 
	text-align:center;
}

.post-container .attachment .entry-info { 
	width:120px;
}

.post-container .attachment .entry-info span { 
	margin:auto;
}

.post-article blockquote { 
	border-left: 4px solid #ddd ; 
	padding:25px; 
	position:relative; 
	margin-left:0px;
	background:#f6f6f6;
	font-style:italic;
	margin:25px 0
}

post-article blockquote p { 
	text-align:left; 
	line-height:1.6em;
	margin:0 	
}

/* ===============================================
   ASIDE POSTS
   =============================================== */

.post-container .aside {
	background:url(../images/background/paper.jpg) repeat;
	position:relative;
}
.post-container .aside:after {
	content: '';
	display: block;
	position: absolute;
	width: 59px;
	height: 52px;
	top: 0;
	left: 0;
	margin-top: -16px;
	margin-left: -15px;
	background:url(../images/icons/scotch-left.png) no-repeat;
}

.post-container .aside:before {
	content: '';
	display: block;
	position: absolute;
	width: 59px;
	height: 52px;
	top: 0;
	right: 0%;
	margin-top: -16px;
	margin-right: -15px;
	background:url(../images/icons/scotch-right.png) no-repeat;
}

/* ===============================================
   LINK POSTS
   =============================================== */

#masonry .post-container .post-article.link,
.post-container .link { 
	text-align:center;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
}

.post-container .link a { 
	background:#fff; 
	padding:40px 0;
	display:block;
	color:#616161;
}

.post-container .link a i {
	display:block;
	margin-bottom:25px;
	font-size:25px; 
}

.post-container .post-article.link { 
	padding:0; 
}

.post-container .link a:hover  { 
	background: #d14a2b; 
	color:#fff;
}

/* ===============================================
   QUOTE POSTS
   =============================================== */

.post-container .quote { 
	background:#fff; 
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
}

.post-container .quote blockquote { 
	border-left:0;
	padding:0;
	margin:0;
	background:none;
}

.post-container .quote blockquote p { 
	text-align:center;
	font-style:normal;
}

.post-container .quote p { 
	text-align:center;
	font-size:16px
}

#masonry .post-container .quote i {
	margin-bottom:25px;
}

.post-container .quote i {
	display:block;
	margin-bottom:20px;
	font-size:25px; 
	text-align:center;
	color:#616161
}

.post-container .quote:hover { 
	background:#d14a2b;
}

.post-container .quote:hover p , 
.post-container .quote:hover i , 
.post-container .quote a:hover {
	color:#fff;
}

/* ===============================================
   FEATURED IMAGES / SLIDERS / VIDEO CONTAINER
   =============================================== */

.post-container .wp-post-image {
	z-index:999;
	height: 100%;
}

.embed-container,
.pin-container, 
.video-container,
.maps-container {
	position: relative;
	height:auto;
	max-height:100%;
}

.embed-container,
.video-thumb,
.maps-thumb {
	padding-bottom: 56.25%;
	height: 0;
}

.video-thumb iframe, 
.video-thumb object, 
.video-thumb embed,
.video-thumb video,
.embed-container iframe, 
.embed-container object, 
.embed-container embed,
.embed-container video,
.maps-thumb iframe, 
.maps-thumb object, 
.maps-thumb embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border:none;
}

.header-cart-widget .wp-post-image:hover,
#top_sidebar .wp-post-image:hover,
#header_sidebar .wp-post-image:hover,
#bottom_sidebar .wp-post-image:hover,
#sidebar .wp-post-image:hover,
#footer-box .wp-post-image:hover{
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	transform: none;
}

.banner-rotate {
	overflow:hidden;
	position:relative;
	display:block;
}

.banner-rotate img  { 
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.8s ease;
	-o-transition: -o-transform 0.8s ease;
	transition: transform 0.8s ease;
	width:100%;
	height:auto;
}

.banner-rotate:hover img  { 
	-moz-transform: rotate(1deg) scale(1.2);
	-webkit-transform: rotate(1deg) scale(1.2);
	-o-transform: rotate(1deg) scale(1.2);
	transform: rotate(1deg) scale(1.2);
}

/* ===============================================
   SOUNDCLOUD
   =============================================== */

.full-width .soundcloud,
.left-sidebar .soundcloud,
.right-sidebar .soundcloud {
	margin:0 0 50px 0;
}

.col-md-4 .soundcloud {
	margin:0 0 25px 0;
}

.soundcloud iframe, 
.soundcloud object, 
.soundcloud embed {
	width: 100%;
	height:166px;
	border:none;
}

/* ===============================================
   POST TITLE
   =============================================== */

.post-container .title {
	line-height:1.2em;
	text-align:center;
	position:relative;
	color:#616161;
	margin:0
}

.post-container .page-format .title {
	margin:0 0 50px 0;
}

#top_sidebar .title ,
#header_sidebar .title , 
#bottom_sidebar .title { 
	margin-bottom:35px;
}

/* ===============================================
   BOX TITLE
   =============================================== */

.post-container .aside p,
.post-container .category h1,
.post-container .search h1 { 
	margin:0;
}

.post-container .category,
.post-container .category h1,
.post-container .category h1 span, 
.post-container .search,
.post-container .search h1 { 
	text-align:center;
	font-size:20px;
}

.post-container .category h1 a {
	color:#fff;
}

/* ===============================================
   COLUMNS STYLE SHORTCODE
   =============================================== */

.post-container .container-fluid.columns-shortcode {
	margin: -50px 0 50px 0;
	padding:0;
}

.post-container .container-fluid.columns-shortcode:last-child {
	padding:0;
	margin: 0;
}

.post-container .container-fluid.columns-shortcode .title {
	margin-top:50px;
	margin-bottom:25px;
}

/* ===============================================
   Post icon
   =============================================== */
   
.post .pin-container  {
	background:#d14a2b;
}

.post .pin-container img {
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.post .pin-container:hover img {
	opacity: 0.1;
	filter: alpha(opacity=10);
}

.post .pin-container:hover .post-icon {
	opacity: 1; 
	filter: alpha(opacity=100);
}

.post .no-overlay.pin-container:hover img {
	opacity: 1; 
	filter: alpha(opacity=100);
}

.post .post-icon {
	opacity: 0; 
	filter: alpha(opacity=0);
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
	top:50%;
	right:50%;
	margin-top:-20px;
	margin-right:-20px;
    line-height: 40px;
    color: #fff;
    font-size:40px
}

.post .pin-container:hover .post-icon {
	opacity: 1; 
	filter: alpha(opacity=100);
}

/* ===============================================
   Post info
   =============================================== */
   
footer.line ,
footer.tags {
	text-align:center;
	margin-top:50px; 
}

footer.tags a {
	color:#616161;
}

.entry-category {
	text-align:center;
	display:block;
	font-size:10px;
	text-transform:uppercase;
	font-weight:bold;
	padding-bottom: 0.5rem;
    line-height: 0.7;
}

.entry-date {
	text-align:center;
	display:block;
	font-size:10px !important;
	text-transform:uppercase;
	padding-top: 1rem;
	margin-bottom:40px;
    line-height: 0.7;
	color:#616161;
	font-weight:normal
}

.entry-category a,
.entry-date a {
	color:#616161;
	font-size:10px !important;
}

#masonry .entry-date { 
	margin-bottom:25px;
}

.post-date {
	color:#fff; 
	text-align:left;
}

.day { 
	font-size:14px; 
	line-height:1.1em;
}

.archive { 
	margin:0;
}

.entry-tags { 
	font-size:13px; 
	border-bottom:solid 1px #ddd; 
	border-top:solid 1px #ddd; 
	position:relative; 
	font-weight:bold;
}

.entry-tags span { 
	font-weight:normal;
}

.post-date {
	color:#fff; 
	text-align:left;
}

.day { 
	font-size:14px; 
	line-height:1.1em;
}

.archive { 
	margin:0;
}

/* ===============================================
   COMMENTS
   =============================================== */

#disqus_thread {
	margin-top:25px;
}

.commentlist { 
	list-style:none;
	margin:0;
	padding:0
}

.commentlist ul { 
	list-style:none; 
	padding:0; 
	margin:0;
}

.commentlist li { 
	margin:0;
}

.commentlist li .comment-respond {
	margin-bottom:50px;
}

.commentlist li:last-of-type .comment-respond {
	margin-bottom:0px;
}

.woocommerce .woocommerce-tabs .comment_container,
.comment-container { 
	position: relative; 
	margin:0 0 50px 0; 
	padding:50px; 
	background:#fff;
	border:solid 1px #f1f1f1 !important;
	z-index:999
}

.comment-avatar img { 
	padding:4px; 
	border:solid 1px #ddd; 
	float:left; 
}

.comment-text {
	position:relative; 
	margin-left:110px;
	padding:0 0 0 15px
}

.comment-container .comment-date { 
	padding:10px 0;
}

.comment-avatar { 
	position:relative; 
	width:110px; 
	float:left;
}

.comment-author .author { 
	display:block; 
	font-weight:bold;
}

.commentlist .children li {
	margin-left:110px;
}

.comment-notes { 
	font-size:12px; 
	margin:-30px 0 25px 0;
}

h3#reply-title, 
h3.comments { 
	height:45px;
	line-height:45px;
	margin:45px 0;
	text-align:center;
}

h3#reply-title small, 
.logged-in-as { 
	font-size: 14px;
	margin:-25px 0 50px 0;
}

/* ===============================================
   FORMS / COMMENT FORMS / CONTACT FORMS
   =============================================== */

div.wpcf7 img.ajax-loader {
	display:none;
}

div.wpcf7-response-output {
    margin: 2em 0 !important;
    padding: 1em !important;
}

div.wpcf7-validation-errors {
    border: 1px solid #f00 !important;
    color: #f00 !important;
}

div.wpcf7-mail-sent-ok {
    border: 1px solid #398f14 !important;
    color: #398f14 !important;
}

.wpcf7-form {
	margin:0 !important;
}

.wpcf7-form label {
	width:100%;
}

.searchform label {
	display:block;
}

.wpcf7-form input, 
.wpcf7-form select, 
.wpcf7-form textarea ,
.woocommerce-product-search input[type=search],
.contact-form input[type=text],
.contact-form textarea ,
.searchform input[type=text],
.searchform textarea ,
.comment-form input[type=text], 
.comment-form textarea {
	padding: 10px 2%;
	background:#fafafa;
	width: 100%; 
	margin:0 0 10px 0;
	border:none;
	color:#616161;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
}

.wpcf7-form input[type=submit] ,
.woocommerce-product-search input[type=submit],
.contact-form input[type=submit] ,
.searchform input[type=submit] ,
.comment-form input[type=submit] {
	background:none;
	border:solid 2px #ff6644;
	color:#ff6644;
	font-size:14px;
	text-align:center;
	position:relative;
	display: block;
	text-shadow:none;
	padding:8px 16px;
	width:inherit;
	margin:0 auto;
	-webkit-transition: color .3s ease, border-color .3s ease;
	-moz-transition: color .3s ease, border-color .3s ease; 
	-o-transition: color .3s ease, border-color .3s ease;
	transition: color .3s ease, border-color .3s ease;
}

.wpcf7-form input[type=submit]:hover ,
.woocommerce-product-search input[type=submit]:hover,
.contact-form input[type=submit]:hover ,
.searchform input[type=submit]:hover ,
.comment-form input[type=submit]:hover {
	border-color:#d14a2b;
	color:#d14a2b;
	text-decoration:none
}

#searchform input[type=submit],
.woocommerce-product-search input[type=submit]{
	width: 25%;
	margin:0;
	padding: 8px 1%;
	display:inline-block;
}

#searchform input[type=text],
.woocommerce-product-search input[type=search]{
	width: 70%;
	margin:0 1% 0 0;
	padding: 10px 2%;
	display:inline-block;
}

#searchform .input-search:hover, 
#searchform .input-search:active, 
#searchform .input-search:focus ,
#searchform input[type=search]:hover, 
#searchform input[type=search]:active, 
#searchform input[type=search]:focus {
    outline:0px !important;
	-webkit-appearance:none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.logged-in-as a, 
#comments a {
	color:#616161;
}

.logged-in-as,
.comment-notes,
.comment-form-comment, 
.comment-form-author, 
.comment-form-email, 
.comment-form-url,
.form-submit { 
	display:block;
	text-align:center;
}

.contact-form span.messagge-sent {
	font-weight:bold;
}

.contact-form  span.messagge-error {
	display:none;
	color:#b93333;
	font-weight:bold;
}

.contact-form .empty-value {
    border: solid 1px #872424 !important;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
}

span.wpcf7-list-item {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin: 0 15px 0 0;
}

/* ===============================================
   IMAGES
   =============================================== */

img.size-auto, 
img.size-full, 
img.size-large, 
img.size-medium, 
img.alignleft, 
img.alignright, 
img.aligncenter, 
.attachment img {
	max-width:100%; 
	height:auto;
}
.alignleft,
img.alignleft {
	display:inline;
	float:left;
	margin-right:24px;
	margin-top:4px;
}
.alignright, 
img.alignright {
	display:inline;
	float:right;
	margin-left:24px;
	margin-top:4px;
}
div.aligncenter, 
img.aligncenter {
	display: block; 
	margin-left: auto !important; 
	margin-right: auto !important; 
	float:none;
}
img.alignleft, 
img.alignright, 
img.aligncenter {
	margin-bottom:12px;
}
.wp-caption {
	background:#f1f1f1;
	line-height:18px;
	margin-bottom:25px;
	max-width:100% !important; 
	padding:4px;
	text-align:center;
}
.wp-caption img {
	margin:5px 5px 0;
	width:96%;
	height:100%
}
.wp-caption p.wp-caption-text {
	color:#888;
	font-size:12px;
	margin:5px;
}
.wp-smiley {
	margin:0;
}

/* ===============================================
   WORDPRESS GALLERY SHORTCODE
   =============================================== */

.gallery {
	margin:25px auto 0 auto;
}

.gallery .gallery-item {
	float:left;
	margin:0 10px 15px 0;
	text-align:center;
	position:relative;
	outline: 1px solid #ddd;
	border: 4px solid #fff;
	background: #fff;
	overflow:hidden;
}

.gallery-item .gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	padding: 6px 0;
	bottom:0;
	position: absolute;
	text-align: center;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
	filter: alpha(opacity=0);
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 4px);
	max-width:         calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 4px);
	max-width:         calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery dl {
	margin:0;
}

.gallery br+br {
	display:none;
}

.gallery a {
	border-bottom:none;
}

.attachment img{
	display:block;
	margin:0 auto;
}  

.gallery .gallery-item img {
	-webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
	border:none !important;
	width:100%;
}

.gallery .gallery-item img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
  
/* ===============================================
   OVERLAY
   =============================================== */

.overlay-thumbnail {
    position: relative;
	overflow:hidden
}

.overlay-thumbnail a {
	opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #333;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
    text-align: center;
    z-index: 2;
}

.overlay-thumbnail:hover a {
	opacity: 0.60; 
	filter: alpha(opacity=60);
}

/* ===============================================
   Category widget
   ============================================= */

#footer_widgets ul.widget-category { 
	position:relative; 
	margin:0; 
	border-top:solid 1px #ddd;  
	border-bottom:solid 1px #fff;
	border-left:solid 1px #ddd;
	border-right:solid 1px #ddd;
}
#footer_widgets ul.widget-category li { 
	display:block; 
	background:#f3f3f3;
	padding:8px; 
	border-bottom:solid 1px #ddd;  
	border-top:solid 1px #fff;
	-webkit-transition: all .3s ease; 	
	-moz-transition: all .3s ease; 
	-o-transition: all .3s ease;
	position:relative; 
	cursor:pointer; 
	color:#4d4d4d; 
}

#footer_widgets ul.widget-category li a, 
ul.widget-category li.cat-item{ 
	display:block; 
	color:#333;
}

#footer_widgets ul.widget-category li.cat-item a{ 
	display:inline; 
}

#footer_widgets ul.widget-category li:hover { 
	color:#d14a2b; 
	background:#eee;
}

#footer_widgets ul.widget-category li a:hover{ 
	color:#d14a2b;
}

/* ===============================================
   Calendar widget
   ============================================= */

#wp-calendar th, 
#wp-calendar 
#today, 
#wp-calendar 
#today a { 
	background:#ccc; 
	color:#434343 !important;
}
#wp-calendar a:hover { 
	border:none;
}
#wp-calendar { 
	background: #f3f3f3; 
	width:100%; 
}
#wp-calendar caption {  
	font-size: 14px; 
	text-transform:uppercase; 
	margin:0 0 10px 0;
	text-align:left;
}
#wp-calendar th, 
#wp-calendar td { 
	text-align: center; 
	font-size: 14px; 
	color:#434343 !important;
	padding:3px 6px;
}
#wp-calendar td a { 
	display:block; 
	text-align: center; 
	font-size: 14px; 
	color:#434343 !important;
	text-decoration:underline
}
#wp-calendar td#prev a, #wp-calendar td#prev a{ 
	text-decoration:none;
	text-align:left;
}
#wp-calendar th{ 
	font-weight:bold
}
tr:nth-child(2n+2) { 
	background-color: #fafafa;
}

/* ===============================================
   Tagcloud widget
   ============================================= */

#sidebar .tagcloud a, 
#footer_widgets .tagcloud a { 
	display: inline-block; 
	padding: 4px 8px; 
	text-align: center; 
	font-size:12px !important; 
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	background:#ff6644;
	color:#fff;
	border:none;
	margin:0 0 4px 0;
}
#sidebar .tagcloud a:hover, 
#footer_widgets .tagcloud a:hover { 
	color: #fff; 
	background: #d14a2b;
}
#sidebar .tagcloud a { 
	font-size:14px !important; 
}

/* ===============================================
   Instagram widget
   ============================================= */

.jr-insta-thumb ul.thumbnails li ,
.jr-insta-thumb ul.thumbnails li img,
.jr-insta-thumb ul.thumbnails li a {
	vertical-align: bottom !important;
}

/* ===============================================
   Footer social buttons
   ============================================= */

.social-buttons { 
	margin: 25px 0 0 0; 
    position: relative;
}

.social-buttons a { 
	display:inline-block; 
	margin: 0 0 5px 0; 
	height:40px;
	width:40px;
	color:#fff !important;
	background:#444;
	text-align:center;
	line-height:40px;
	font-size: 14px;
    position: relative;
}

.social-buttons a:hover { 
	background:#d14a2b;
	color:#fff !important
}

.social-buttons a:before { 
	content: attr(button-title);
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 10px;
    color: #fff;
    -ms-transform: translate(-50%, -35px);
    -webkit-transform: translate(-50%, -35px);
    transform: translate(-50%, -35px);
	height:25px;
	line-height:25px;
	padding:0 10px; 
	background-color: #444; 
    z-index: 1000;
	-webkit-transition: opacity .3s linear, visibility .3s linear; 
	-moz-transition: opacity .3s linear, visibility .3s linear; 
	-o-transition: opacity .3s linear, visibility .3s linear; 
	transition: opacity .3s linear, visibility .3s linear;
	visibility:hidden;
	opacity:0;
}

.social-buttons a:after { 
	content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #444;
    top: -10px;
    left: 50%;
    z-index: 1000;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	-webkit-transition: opacity .3s linear, visibility .3s linear; 
	-moz-transition: opacity .3s linear, visibility .3s linear; 
	-o-transition: opacity .3s linear, visibility .3s linear; 
	transition: opacity .3s linear, visibility .3s linear;
	visibility:hidden;
	opacity:0;
	 
}

.social-buttons a:hover:before , 
.social-buttons a:hover:after { 
	-webkit-transition: opacity .3s linear, visibility .3s linear; 
	-moz-transition: opacity .3s linear, visibility .3s linear; 
	-o-transition: opacity .3s linear, visibility .3s linear; 
	transition: opacity .3s linear, visibility .3s linear;
	visibility:visible;
	opacity:1 
}

/* ===============================================
   Pagination
   ============================================= */

.post-pagination {
	margin:45px 0 0 0;
}

.post-pagination a[rel="prev"] {
	float:left;
	text-align:left;
}

.post-pagination a[rel="next"] {
	float:right;
	text-align:right;
}

.wp-pagenavi,
.avventura-pagination { 
	text-align: center; 
	position:relative;
	margin-bottom:50px;
}

.wp-pagenavi a, 
.wp-pagenavi a:link,
.wp-pagenavi span.current, 
.avventura-pagination span { 
	display:inline-block;
	padding:0 15px;
	height:45px;
	line-height:45px;
	font-size:14px;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	background:#444;
	position:relative;
	margin:0 5px;
	-webkit-transition: background-color .3s ease, border-color .3s ease;
	-moz-transition: background-color .3s ease, border-color .3s ease; 
	-o-transition: background-color .3s ease, border-color .3s ease;
	transition: background-color .3s ease, border-color .3s ease;
}

.avventura-pagination a span {
	background:#fff;
	color:#333;
}

.wp-pagenavi a:hover, 
.avventura-pagination span,
.avventura-pagination a span:hover,
.wp-pagenavi span.current,
.post-article .wp-pagenavi a:hover {
	color:#fff;
	background:#d14a2b;
	text-decoration:none;
	border-bottom:none;
}

@media screen and (min-width : 0px) and (max-width : 992px)  {	

	#header {
		position:relative;
	}

	body.logged-in #header { 
		top:0;
	}

	#logo-wrapper {
		padding: 25px 0;
	}

	.mobile-navigation {
		display:block;
		visibility: visible;
	}

	body.scroll_header #header-wrapper { 
		position:relative;
		height:auto;
		margin-bottom: inherit;
	}
	
	body.scroll_header #header-wrapper .right {
		padding-left: inherit; 
	}
	
	body.scroll_header.logged-in #header { 
		top: inherit;
	}

	body.scroll_header .content,
	body.scroll_header .masonry-container,
	body.scroll_header #header_sidebar,
	body.scroll_header.single .product-wrapper,
	body.scroll_header .products-list{
		margin-top:0;
	}
	
	body.scroll_header #header { 
		position:relative;
		background:none;
		top: inherit;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	body.scroll_header #top_sidebar {
		margin-top:0;
	}

	#sidebar .sidebar-box {
		padding:0;
	}

	.col-md-8.left-sidebar,
	.col-md-8.right-sidebar  {
		float:inherit;
	}

	#scroll-sidebar .mobilemenu-box {
		display:block;
		visibility:visible;
	}

	nav#mainmenu {
		height:inherit;
	}

	nav#mainmenu ,
	nav#mainmenu ul ,
	#menu-wrapper {
		visibility:hidden;
		display:none;
	}

	.wp-pagenavi { 
		margin-top:50px;
		margin-bottom:40px;
	}

	.wp-pagenavi a, 
	.wp-pagenavi a:link,
	.wp-pagenavi span.current, 
	.avventura-pagination span {
		margin:0 5px 10px 5px;
	}

	nav#mainmenu,
	#sidebar, 
	.post-container,
	.product-container,
	#masonry .post-container,
	.commentlist li .comment-respond,
	.row.masonry,
	#sidebar .post-article,
	.post-article.col-md-4,
	.post-article.col-md-6 { 
		margin-bottom:50px;
	}
	
	#blog #sidebar , 
	.row.blog-grid { 
		margin-bottom:0;
	}
	
	body.archive .wp-pagenavi {
		margin-top:0;
	}
	
	.read-more {
		margin: 35px 0 25px 0;
	}
	
	#footer { 
		margin-top:50px;
	}
	
	#footer .copyright {
		margin:0;
		line-height:15px;
	}
	
	.social-buttons {
		float:none;
	}
	
	.widget-box {
		padding:25px;
	}

	#scroll-sidebar .post-article.widget-box {
		padding:50px;
	}

	.row.copyright .col-md-5, 
	.row.copyright .col-md-7{
		padding:10px 25px;
		text-align:center;
	}
	
	.entry-info {
		width:auto;
		background:none;
	}
	
	.entry-info span {
		display:block;
		text-align:center;
		width:inherit;
		padding:inherit;
		margin:5px auto;
		position:relative;
	}
	
	.entry-info i  {
		line-height: 23px;
		position:absolute;
		left:0;
		margin:0;
		padding:0
	}
	
	.header select.select-menu {
		width:100%;
		margin-bottom:50px;
	}
	
	.children li {
		margin-left:0;
	}
	
	.comment-avatar img {
		margin-right:15px;
	}
	
	.comment-text {
		margin:0;
		float:none;
		border:none;
		padding:0;
	}
	
	h3#reply-title, 
	h3.comments {
		font-size:18px;
	}
	
	#footer_widgets .widget {
		margin-right: inherit;
	}
	
	.col-md-8.left-sidebar,
	.col-md-8.right-sidebar  {
		float:inherit;
	}
	
	#sidebar h3.title {
		font-size:22px;
		margin:0 0 15px 0;
	}
	
	.row.masonry {
		margin-bottom:0;
	}

	.avventura-pagination {
		padding-bottom:50px;
	}

	.header-search .search-form #header-searchform input[type=text] {
		width:95%;
		left:2.5%;
		font-size:28px;
	}

	.header-search .search-form #header-searchform ::-webkit-input-placeholder {
		font-size:28px;
	}
	
	.header-search .search-form #header-searchform ::-moz-placeholder {
		font-size:28px;
	}
	
	.header-search .search-form #header-searchform :-ms-input-placeholder {
		font-size:28px;
	}
	
	.header-search .search-form #header-searchform :-moz-placeholder {
		font-size:28px;
	}

	.masonry-item {
		position: relative !important;
		left: 0 !important;
		top: 0 !important;
		transform:none !important;
	}

}

@media screen and (min-width : 0px) and (max-width : 320px) {	

	div.overlay-image.xsmall .overlay, 
	div.overlay-image.xsmall .wp-post-image { width:140px; height:140px }
	div.overlay-image.small .overlay, 
	div.overlay-image.small .wp-post-image,
	div.overlay-image.medium .overlay, 
	div.overlay-image.medium .wp-post-image,
	div.overlay-image.large .overlay, 
	div.overlay-image.large .wp-post-image { width:140px; height:100px }

}

@media screen and (min-width : 321px) and (max-width : 479px) {	

	div.overlay-image.medium .overlay, 
	div.overlay-image.medium .wp-post-image,
	div.overlay-image.large .overlay, 
	div.overlay-image.large .wp-post-image { width:211px; height:150px }

}

@media screen and (min-width : 0px) and (max-width : 479px)  {	
	
	.post-container .title {
		font-size:22px;
	}
	.post-container .quote blockquote p {
		font-size: 16px;
	}

}

@media screen and (min-width : 481px) and (max-width : 600px) {	

	div.overlay-image.medium .overlay, 
	div.overlay-image.medium .wp-post-image{ width:240px; height:171px }
	div.overlay-image.large .overlay, 
	div.overlay-image.large .wp-post-image { width:300px; height:213px }

}