h1.title span,
h2.title span,
h3.title span,
h4.title span,
h5.title span,
h6.title span { 
	box-shadow: inset 0 -0.5em 0 0 #F4EBEB;
}

::-moz-selection {
    background-color: #b93333;
}

::selection {
    background-color: #b93333;
}

span.button,
.post-article span.button,
.wpcf7-form input[type=submit] ,
.woocommerce-product-search input[type=submit],
.contact-form input[type=submit] ,
.searchform input[type=submit] ,
.comment-form input[type=submit],
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt,
.woocommerce a.button,
.woocommerce #respond input#submit, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce input.button#place_order,
.woocommerce .wc-proceed-to-checkout input {
	border-color: #b93333;
}

span.button,
.post-article span.button,
.wpcf7-form input[type=submit] ,
.woocommerce-product-search input[type=submit],
.contact-form input[type=submit] ,
.searchform input[type=submit] ,
.comment-form input[type=submit],
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt,
.woocommerce a.button,
.woocommerce #respond input#submit, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce input.button#place_order,
.woocommerce .wc-proceed-to-checkout input,
#header-wrapper.light #header .header-cart-widget .buttons a.button {
	color:#b93333;
}

#sidebar .tagcloud a, 
#footer_widgets .tagcloud a,
.header-cart a span,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color:#b93333;
}

a:hover ,
a:active ,
a:focus,
span.button:hover ,
.title a span:hover,
.post-article span.button:hover,
.post-article a span.nobutton:hover,
#logo a:hover,
nav#mainmenu ul li a:hover,
nav#mainmenu li:hover > a,
nav#mainmenu ul li.current-menu-item > a, 
nav#mainmenu ul li.current_page_item > a, 
nav#mainmenu ul li.current-menu-parent > a, 
nav#mainmenu ul li.current_page_ancestor > a, 
nav#mainmenu ul li.current-menu-ancestor > a,
nav#mobilemenu ul li a:hover,
nav#mobilemenu li:hover > a,
nav#mobilemenu ul li a:hover,
nav#mobilemenu li:hover > a,
nav#mobilemenu ul li.current-menu-item > a, 
nav#mobilemenu ul li.current_page_item > a, 
nav#mobilemenu ul li.current-menu-parent > a, 
nav#mobilemenu ul li.current_page_ancestor > a, 
nav#mobilemenu ul li.current-menu-ancestor > a,
.post-article a:hover,
.post-article a:active,
.post-article a:focus ,
.sidebar-area a:hover,
.sidebar-area a:active,
.sidebar-area a:focus ,
#scroll-sidebar a:hover,
#scroll-sidebar a:active,
#scroll-sidebar a:focus ,
#footer a:hover,
#footer a:active,
#footer a:focus ,
#footer_widgets a:hover,
#footer_widgets a:active,
#footer_widgets a:focus,
.wpcf7-form input[type=submit]:hover ,
.woocommerce-product-search input[type=submit]:hover,
.contact-form input[type=submit]:hover ,
.searchform input[type=submit]:hover ,
.comment-form input[type=submit]:hover,
#footer_widgets ul.widget-category li:hover,
#footer_widgets ul.widget-category li a:hover,
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active,
.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a,
.woocommerce .star-rating:before,
.star-rating span,
.woocommerce p.stars,
.woocommerce p.stars a,
.woocommerce p.stars:hover a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active ,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover,
.woocommerce a.button:hover,
.woocommerce a.add_to_cart_button:hover,
.woocommerce .woocommerce-message a.button:hover ,
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce .wc-proceed-to-checkout input:hover,
body.archive.woocommerce .product-category h3:hover,
body.archive.woocommerce .product-category h3:active,
body.archive.woocommerce .product-category h3:focus,
#header-wrapper #header i:hover,
#header-wrapper.light #header .header-cart-widget a:hover,
#header-wrapper.light #header .header-cart-widget .buttons a:hover,
#header-wrapper.dark #header .header-cart-widget a:hover,
#header-wrapper.dark #header .header-cart-widget .buttons a:hover {
	color:#872424;
}

span.button:hover ,
.post-article span.button:hover,
.wpcf7-form input[type=submit]:hover ,
.woocommerce-product-search input[type=submit]:hover,
.contact-form input[type=submit]:hover ,
.searchform input[type=submit]:hover ,
.comment-form input[type=submit]:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover,
.woocommerce a.button:hover,
.woocommerce a.add_to_cart_button:hover,
.woocommerce .woocommerce-message a.button:hover ,
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce .wc-proceed-to-checkout input:hover,
#header-wrapper.light #header .header-cart-widget .buttons a.button:hover ,
#header-wrapper.dark #header .header-cart-widget .buttons a.button:hover {
	border-color:#872424;
}

#back-to-top span.open,
#back-to-top span:hover,
.post-container .link a:hover,
.post-container .quote:hover,
.post .pin-container,
#sidebar .tagcloud a:hover, 
#footer_widgets .tagcloud a:hover,
.social-buttons a:hover,
.wp-pagenavi a:hover, 
.avventura-pagination span,
.avventura-pagination a span:hover,
.wp-pagenavi span.current,
.post-article .wp-pagenavi a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover,
.slick-slideshow .slick-arrow:hover ,
.slick-slideshow .slick-arrow:active ,
.slick-slideshow .slick-arrow:focus {
	background-color:#872424;
}