/*
Theme Name: Simplon Theme
Template: blossom-feminine
*/

div .header-t{
    background-color: white;
    display: none;
}

.site-title a {
    color: #D9886A;
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    transition: ease 0.2s;
}
body div .top-bar{
    background-color: white;
}


body, button, input, select, optgroup, textarea {
    font-family: Poppins;
    font-size: 16px;
}

body, button, input, select, optgroup, textarea {
    /* color: ; */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6575em;
}
/* 
#blossom-top:after {
    border: 4px solid white;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    content: '';
}

  
 #blossom-top::after {
    border: 4px solid black;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    content: '';
    background-color: white;
    color: black;
} */


.svg-inline--fa  fa-angle-up fa-w-10{
    color: black;
    background:white;
} 

#blossom-top{
    border: 2px solid black;
    background: white!important;
    color: black;
}
div .blossom-top span .svg-inline--fa fa-angle-up fa-w-10{
    color: black;
    
}
