.elementor-1 .elementor-element.elementor-element-1d1a119a .elementor-text-editor{text-align:center;column-gap:0px;}.elementor-1 .elementor-element.elementor-element-1d1a119a{color:#000000;font-family:"Asar", muli;letter-spacing:1.3px;}